<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nevdia.atta.atta_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".CategoriesActivity"
            android:label="الاصناف"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".BrandsMenuActivity"
            android:label="الماركات"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".SparePartsMenuActivity"
            android:label="قطع غيار"
            android:parentActivityName=".CategoriesActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".MainPartsMenuActivity"
            android:label="قطع رئيسية"
            android:parentActivityName=".CategoriesActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".RepairActivity"
            android:label="الصيانة"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".ContactUSActivity"
            android:label="اتصل بنا"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".SpareItemDetailsActivity"
            android:parentActivityName=".SparePartsMenuActivity"
            android:theme="@style/ActionBar" />
        <activity
            android:name=".MainItemDetailsActivity"
            android:parentActivityName=".MainPartsMenuActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".MainPartItemsActivity"
            android:theme="@style/ActionBar"
            android:parentActivityName=".MainPartsMenuActivity"/>

        <activity android:name=".SparePartItemsActivity"
            android:theme="@style/ActionBar"
            android:parentActivityName=".SparePartsMenuActivity"></activity>
    </application>

</manifest>